#hero{

    position:relative;

    width:100%;

    height:120vh;

    overflow:hidden;
}


/* Background */

#background{

    position:absolute;

    inset:-10%;

    background-image:url("../assets/backflowers.png");

    background-size:cover;
    background-position:center;

    will-change:transform;

    z-index:-2;
}


/* Overlay */

#overlay{

    position:absolute;

    inset:0;

    background:rgba(255, 255, 255, 0);

    z-index:-1;
}


/* Card */

.hero-card{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    width:min(90%,600px);

    padding:40px;

    color:white;

    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.2);

    border-radius:24px;

    z-index:10;
}


/* Header */

.hero-header{

    text-align:center;

    margin-bottom:40px;
}

.hero-header h1{

    font-size:3rem;

    margin-bottom:15px;
}

.subtitle{

    opacity:.8;

    margin-bottom:30px;
}