@import url("hero.css");
@import url("navigation.css");
@import url("about.css");
@import url("animations.css");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
    font-family:Arial, Helvetica, sans-serif;
    background:black;
}